## Iterative Statements

If we want to execute a group of statements multiple times then we should go for 

Iterative statements.

Python supports 2 types of iterative statements.

1. for loop

2. while loop

#### 1) for loop:

If we want to execute some action for every element present in some sequence(it may be 

string or collection)then we should go for for loop.

Syntax:

###### for x in sequence :
###### body

where sequence can be string or any collection.

Body will be executed for every element present in the sequence.

###### Eg-1To print characters present in the given string

In [1]:
s= "I love my India"
for x in s:
    print(x)

I

l
o
v
e

m
y

I
n
d
i
a

###### Eg 2: To print characters present in string index wise:

In [4]:
s = input("Enter a string")
i = 0
for x in s:
    print("The character present at",i,"th index is=",x)
    i=i+1

Enter a stringlearnqoch
The character present at 0 th index is= l
The character present at 1 th index is= e
The character present at 2 th index is= a
The character present at 3 th index is= r
The character present at 4 th index is= n
The character present at 5 th index is= q
The character present at 6 th index is= o
The character present at 7 th index is= c
The character present at 8 th index is= h

###### Eg 3: To print Hello 10 times

In [13]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

###### Eg 4: To display numbers from 0 to 10

In [15]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

###### Eg 5: To display odd numbers from 0 to 20

In [21]:
for i in range(0,21,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

###### Eg 6: To display numbers from 10 to 1 in descending order

In [1]:
range(0,10)

range(0, 10)

In [2]:
print(range(0,10))

range(0, 10)

In [3]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
for i in range(10,-1,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

###### Eg 7: To print sum of numbers present inside list

In [11]:
l = [1,2,3,4,5]
sum=0
for i in l:
    sum = sum +i
print("Sum of list=",sum)

Sum of list= 15

In [14]:
#Print any table
a = int(input("Enter a no"))
for i in range(1,11):
    print(i,"*",a,"=",i*a)

Enter a no6
1 * 6 = 6
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36
7 * 6 = 42
8 * 6 = 48
9 * 6 = 54
10 * 6 = 60

In [28]:
l = ['Sai','Mangesh','Bhagyshri','Ashish']
for i in range(3,-1,-1):
    print(l[i], end='\t')

Ashish	Bhagyshri	Mangesh	Sai

In [25]:
m = []
l1 = ['Sai','Mangesh','Bhagyshri','Ashish']
for i in range(len(l1)-1,-1,-1):
    m.append(l1[i])

In [26]:
m

['Ashish', 'Bhagyshri', 'Mangesh', 'Sai']

In [31]:
list(range(len(l1)-1,-1,-1))

[3, 2, 1, 0]

In [32]:
l2 = ['Sai','Mangesh','Bhagyshri','Ashish']
for i in l2:
    print(i[0])

S
M
B
A

In [39]:
flip_cart=['Laptop','Mobile','Books','Keyboard',23,24,45,['Sai','Mangesh','Ashish','Bhagyshri']]
for i in flip_cart:
    if type(i)== list:
        print(i[::-1])

['Bhagyshri', 'Ashish', 'Mangesh', 'Sai']

In [46]:
l=[]
flip_cart=['Laptop','Mobile','Books','Keyboard',23,24,45,['Sai','Mangesh','Ashish','Bhagyshri']]
for i in flip_cart:
    if type(i)==list:
        for j in i[::-1]:
            l.append(j[::-1])

In [48]:
l.pop()

'iaS'

In [42]:
i[::-1]

['Bhagyshri', 'Ashish', 'Mangesh', 'Sai']

In [43]:
j[::-1]

'iaS'

In [50]:
l

['irhsygahB', 'hsihsA', 'hsegnaM']

In [61]:
#dict
Flip_cart1={'Laptop':50000,'Mobile':20000,'Book':100,'Keyboard':1000}
for i in Flip_cart1:
    print("%d %s" %(Flip_cart1[i],i))

50000 Laptop
20000 Mobile
100 Book
1000 Keyboard

In [60]:
Flip_cart1.keys()

dict_keys(['Laptop', 'Mobile', 'Book', 'Keyboard'])

In [65]:
t = (10,20,30,'I love my india')
for i in t:
    print(i,end='\t')

10	20	30	I love my india

In [68]:
#concept of for-else
d = ['Laptop','Mobiles','Books']
for i in d:
    print(i)
else:
    print("cart is empty")

Laptop
Mobiles
Books
cart is empty

### 2) while loop:
###### If we want to execute a group of statements iteratively until some condition false,then we 
###### should go for while loop.

Syntax:

while condition :

body

###### Eg: To print numbers from 1 to 10 by using while loop

In [70]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

###### Eg: To display the sum of first n numbers

In [1]:
n = int(input("Enter a no"))
sum = 0
i=1
while i<=n:
    sum = sum +i
    i=i+1
print(sum)

Enter a no5
15

###### Eg: write a program to prompt user to enter some name until entering Ayushi

### Infinite Loops:

### Nested Loops:
Sometimes we can take a loop inside another loop,which are also known as nested loops.